<div class="container">
  <table mat-table [dataSource]="players" class="mat-elevation-z8" style="width: 100%">

    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="submissions">
      <th mat-header-cell *matHeaderCellDef> Submissions </th>
      <td mat-cell *matCellDef="let element"> {{getPlayerSuccessSubmissions(element)}} </td>
    </ng-container>

    <ng-container matColumnDef="challenges">
      <th mat-header-cell *matHeaderCellDef> Challenges </th>
      <td mat-cell *matCellDef="let element">
        <div class="row" *ngFor="let submission of element.submissions">{{submission.challenge.name}}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
