<div class="container">
  <table mat-table [dataSource]="players" class="mat-elevation-z8" style="width: 100%">

    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let element"> <div [style.color]="getTotalScore(element) > 50 ?  'green': 'red'">{{getTotalScore(element) | number}} %</div></td>
    </ng-container>

    <ng-container matColumnDef="totalSubmissions">
      <th mat-header-cell *matHeaderCellDef> Total Submissions </th>
      <td mat-cell *matCellDef="let element"> {{element.submissions.length}} </td>
    </ng-container>

    <ng-container matColumnDef="successfulSubmissions">
      <th mat-header-cell *matHeaderCellDef> Successful Submissions </th>
      <td mat-cell *matCellDef="let element"> {{getSuccessSubmissions(element).length}} </td>
    </ng-container>

    <ng-container matColumnDef="successfulChallenges">
      <th mat-header-cell *matHeaderCellDef> Successful Challenges </th>
      <td mat-cell *matCellDef="let element">
        <div class="row" *ngFor="let submission of getSuccessSubmissions(element)">{{submission.challenge.name}}</div>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="failedSubmissions">
      <th mat-header-cell *matHeaderCellDef> Failed Submissions </th>
      <td mat-cell *matCellDef="let element"> {{getFailSubmissions(element).length}} </td>
    </ng-container>
    
    <ng-container matColumnDef="failedChallenges">
      <th mat-header-cell *matHeaderCellDef> Failed Challenges </th>
      <td mat-cell *matCellDef="let element">
        <div class="row" *ngFor="let submission of getFailSubmissions(element)">{{submission.challenge.name}}</div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
