<div class="container">
  <h4 mat-dialog-title>Player</h4>
  <div mat-dialog-content style="min-height: 300px">
    <div>
      <mat-form-field>
        <mat-label>Nickname</mat-label>
        <input matInput [(ngModel)]="draftData.nickname" required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="draftData.email" #emailCtrl="ngModel" [pattern]="'^([\\w\\.\\-\\+]+)@([\\w\\-]+)((\\.(\\w){2,63}){1,4})$'" required>
        <mat-error *ngIf="emailCtrl.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="emailCtrl.hasError('pattern')">Please, provide a valid email address</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="dialog-actions">
    <div></div>
    <div>
      <button mat-raised-button class="secondary-buttom" (click)="close()">Cancel</button>
      <button mat-raised-button class="main-buttom" color="primary" (click)="save()">Save</button>
    </div>
  </div>
</div>
